* {
  box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.bottom{
    text-align: center;
}

ul#right-nav{
  position: absolute;
  margin-right: 0;
  margin-left: 65%;
}

ul#right-nav > li{
  padding: 10px;
  font-size: 14px;;
}

ul#right-nav > li > a{
  color: rgb(192, 192, 192);
}

ul#right-nav > li > a:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.my-card:hover {
        background-color: #fff2e1;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        border : 2px solid #c8beb1;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
}

.my-container{
  background-color: #353535;
  color: white;
}

.dark-card{
  margin-left: 7%;
  animation: none !important;
  border:none !important;
  background-color: #353535 !important;
}

.my-container > h1{
  text-align: center;
}

.my-container h3{
  color: rgb(245, 217, 60);
  text-shadow: 2px 1px 0px rgb(126, 111, 30);
}

.my-container >.dark-card> img{
  height: 50%;
  width:50%;
}

.sign-button{
    font-weight: 500;
    text-transform: uppercase;
    font: lato;
    border-radius: 15px;
    width: 250px;
    border: none;
    background-color: rgb(245, 217, 60);
}

footer{
    height: 325px;
    background-color: #353535;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer nav ul#align-left{
  float: left;
}

footer nav ul#align-right{
    float:right;
}

footer nav ul li{
    margin-right:70px;
    padding: 10px;
}

footer nav ul li a{
    color: rgb(173, 173, 173);;
    text-decoration: none;
}

footer nav ul li a:hover{
    color: white;
    text-decoration: none;
}

footer nav ul li{
    list-style: none;
}

div.copyright{
    padding: 5px;
    padding-left: 40%;
    width: auto;
    color: white;
    background-color: #1d1d1d;
}